<div class="d-flex g-2 position-absolute options end-0">
  <button mat-button class="text-danger" (click)="onChangeOption('deaths')">Deaths</button>

  <button mat-button class="text-success" (click)="onChangeOption('recovered')">Recovered</button>

  <button mat-button class="text-warning" (click)="onChangeOption('critical')">Crtical</button>

  <button mat-button class="text-info" (click)="onChangeOption('cases')">Cases</button>




</div>

<div id="regions_div" style="width: 100%; height: 100%; min-height: 300px;"></div>

